@import '../../node_modules/reveal.js/dist/reveal.css';
@import '../../node_modules/reveal.js/dist/theme/black.css';

@import 'base/reset';

:root {
    --background-color: #05172F;
    --main-font: 'Roboto', sans-serif;
    --r-link-color: #58A3F2;
}

.reveal {
    font-family: var(--main-font);
    width: 100vw;
    height: 100vh;
}

.reveal-viewport {
    background: var(--background-color);
}
