:root {
    --dark-blue: #05172F;
    --gray-blue: #1E345D;
    --light-blue: #58A3F2;
    --white: #FFFFFF;
    --main-font: 'Roboto', Helvetica, sans-serif;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --heading-font-weight: 600;
    --mono-font: 'Roboto Mono', monospace;
}


