:root {
    --dark-blue: #05172f;
    --gray-blue: #1e345d;
    --light-blue: #58a3f2;
    --white: #ffffff;
    --main-font: 'Roboto', Helvetica, sans-serif;
    --heading-font: 'Montserrat', Helvetica, sans-serif;
    --heading-font-weight: 600;
    --mono-font: 'Roboto Mono', monospace;
}
